@{
    ViewData["Title"] = "Plano de contas";
}

<h1>@ViewData["Title"]</h1>

<button type="button" class="btn btn-primary btn-lg" onclick="goToRegistry()">Criar item no plano de contas</button>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Descrição</th>
      <th scope="col">Tipo</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    @{
      foreach(var item in (List<PlanoContaModel>) ViewBag.ListaPlanoConta)
        {
          <tr>
            <th scope="row">@item.Id</th>
            <td>@item.Descricao</td>
            <td>@item.Tipo</td>
            <td><button type="button" class="btn btn-warning" onclick="edit(@item.Id.ToString())">Editar</button></td>
            <td><button type="button" class="btn btn-danger" onclick="remove(@item.Id.ToString())">Remover</button></td>
          </tr>
        }
    }
  </tbody>
</table>

<script>
    function goToRegistry() {
      window.location.href = "../PlanoConta/Cadastro"
    }

    function edit(id) {
      window.location.href = "../PlanoConta/Cadastro/" + id
    }

    function remove(id) {
      window.location.href = "../PlanoConta/Excluir/" + id
    }
</script>