@{
    ViewData["Title"] = "Transações financeiras";
}

<h1>@ViewData["Title"]</h1>

<button type="button" class="btn btn-primary btn-lg" onclick="goToRegistry()">Registrar transação</button>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Data</th>
      <th scope="col">Histórico</th>
      <th scope="col">Valor</th>
      <th scope="col">Tipo de transação</th>
      <th scope="col">Descrição do Plano de conta</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
   @{
      foreach(var item in (List<TransacaoModel>) ViewBag.Transacoes)
        {
          <tr>
            <th scope="row">@item.Id</th>
            <td>@item.Data</td>
            <td>@item.Historico</td>
            <td>@item.Valor</td>
            <td>@item.ItemPlanoConta.Tipo</td>
            <td>@item.ItemPlanoConta.Descricao</td>
            <td><button type="button" class="btn btn-warning" onclick="edit(@item.Id.ToString())">Editar</button></td>
            <td><button type="button" class="btn btn-danger" onclick="remove(@item.Id.ToString())">Remover</button></td>
          </tr>
        }
    }
  </tbody>
</table>

<script>
    function goToRegistry() {
        window.location.href = "../Transacao/Cadastro"
    }


    function edit(id) {
      window.location.href = "../Transacao/Cadastro/" + id
    }

    function remove(id) {
      window.location.href = "../Transacao/Excluir/" + id
    }
</script>